@import "tailwindcss";

@theme {
  --color-riwi-green: #5ACCA4;
  --color-riwi-yellow: #E6CA52;
  --color-riwi-purple: #EAA2FC;
  --color-riwi-orange: #FF6655;
  --color-riwi-violet: #985DFF;
}

:root {
  --riwi-green: #5ACCA4;
  --riwi-yellow: #E6CA52;
  --riwi-purple: #EAA2FC;
  --riwi-orange: #FF6655;
  --riwi-violet: #985DFF;
}

/* ===== Scrollbar Global ===== */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb; /* gris claro */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5ACCA4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4bbf98;
}